<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>3d word with babylonJS</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/babylon.js"></script>

  </head>
  <body>
    <p> babylonJS </p>
  </body>
</html>
